{% extends 'front/layout.html.twig' %}

{% block title %}CGU{% endblock %}

{%block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}

    <h1>Conditions générales d'utilisation</h1>
    <p> Duis pretium ipsum lectus, eget convallis tortor tempor eu. Praesent urna sem, vulputate ut euismod id, finibus venenatis odio. Sed in bibendum felis. Ut ac efficitur sem, sed tristique lorem. Fusce tristique cursus nulla nec luctus. In porta tortor eu dui vestibulum blandit. Sed sit amet dui mollis, tempus nulla in, gravida urna. Integer quis pulvinar turpis. Aliquam libero justo, tempor nec tortor id, porttitor malesuada lacus.

Sed id odio a nibh faucibus vehicula. Morbi feugiat quam sed neque dignissim blandit. Integer interdum justo nulla. Sed consequat, lectus et venenatis pharetra, diam felis fermentum neque, viverra porta sem est ut sem. Suspendisse a enim pretium, volutpat sem vel, maximus ipsum. Nullam eleifend quam vitae eros rutrum, vitae vulputate augue fringilla. Integer accumsan ultricies lacus vitae facilisis. Curabitur cursus dui aliquet purus dignissim rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras nisi lectus, maximus vel vehicula vel, venenatis vel nunc. Aliquam accumsan blandit diam. Nullam tincidunt ex ac erat eleifend posuere. Quisque lorem lacus, ultrices at tellus ut, vulputate ornare nisi. Nam ac iaculis sapien.

Mauris quis magna eu quam feugiat fermentum. Suspendisse arcu erat, viverra mattis euismod sit amet, pulvinar id ipsum. Aliquam arcu velit, lacinia eget laoreet vel, viverra ut libero. Donec blandit varius elit, nec rhoncus nibh pulvinar in. Sed varius justo augue. Nam vehicula magna quam, eu vulputate nisl viverra eget. Integer quis ipsum ut nunc scelerisque dictum. </p>
{% endblock %}